<!-- Copyright (C) 2019-2021 Istituto Italiano di Tecnologia (IIT). All rights reserved.
This software may be modified and distributed under the terms of the
GNU Lesser General Public License v2.1 or any later version. -->

<?xml version="1.0" encoding="UTF-8" ?>
<device  xmlns:xi="http://www.w3.org/2001/XInclude" name="ft-imu-mas-remapper" type="multipleanalogsensorsremapper">
    <param name="period">10</param>
    <!--<param name="ThreeAxisGyroscopesNames">
          (l_upper_leg_ft_gyro_3b12
           l_foot_ft_gyro_3b13
           r_upper_leg_ft_gyro_3b11
           r_foot_ft_gyro_3b14)
        </param>-->
        <!--<param name="ThreeAxisLinearAccelerometersNames">
          (l_upper_leg_ft_acc_3b12
           l_foot_ft_acc_3b13
           r_upper_leg_ft_acc_3b11
           r_foot_ft_acc_3b14)
        </param>-->
        <!--<param name="OrientationSensorsNames">
          (l_upper_leg_ft_eul_3b12
           l_foot_ft_eul_3b13
           r_upper_leg_ft_eul_3b11
           r_foot_ft_eul_3b14)
        </param>-->
        <param name="ThreeAxisGyroscopesNames">
          (rfeimu_gyro, sensor_imu_xsensmt, l_arm_ft_gyro, r_arm_ft_gyro, l_foot_rear_ft_gyro, r_foot_rear_ft_gyro)
        </param>
        <param name="ThreeAxisLinearAccelerometersNames">
          (rfeimu_acc, sensor_imu_xsensmt, l_arm_ft_acc, r_arm_ft_acc, l_foot_rear_ft_acc, r_foot_rear_ft_acc)
        </param>
        <param name="ThreeAxisMagnetometersNames">
          (rfeimu_mag, sensor_imu_xsensmt, l_arm_ft_mag, r_arm_ft_mag, l_foot_rear_ft_mag, r_foot_rear_ft_mag)
        </param>
        <param name="OrientationSensorsNames">
          (rfeimu_eul, sensor_imu_xsensmt, l_arm_ft_eul, r_arm_ft_eul, l_foot_rear_ft_eul, r_foot_rear_ft_eul)
        </param>
        <param name="SixAxisForceTorqueSensorsNames">
          (l_foot_rear_ft
           l_foot_front_ft
           l_arm_ft
           l_jet_ft
           r_foot_rear_ft
           r_foot_front_ft
           r_arm_ft
           r_jet_ft)
        </param>
        <param name="TemperatureSensorsNames">
          (l_foot_rear_ft
           l_foot_front_ft
           l_arm_ft
           l_jet_ft
           r_foot_rear_ft
           r_foot_front_ft
           r_arm_ft
           r_jet_ft)
        </param>
    <action phase="startup" level="5" type="attach">
            <paramlist name="networks">
                <!--<elem name="left-arm-ft-client">left-arm-ft-client</elem>
                <elem name="right-arm-ft-client">right-arm-ft-client</elem>-->
                <elem name="left-leg-ft-client">left-leg-ft-client</elem>
                <elem name="right-leg-ft-client">right-leg-ft-client</elem>
                <elem name="left-arm-ft-client">left-arm-ft-client</elem>
                <elem name="right-arm-ft-client">right-arm-ft-client</elem>
                <elem name="root_link_imu_acc">head_imu_acc</elem>
                <elem name="chest_imu_acc">chest_imu_acc</elem>
                <elem name="l_arm_ft_imu_acc">l_arm_ft_imu_acc</elem>
                <elem name="r_arm_ft_imu_acc">r_arm_ft_imu_acc</elem>
                <elem name="l_foot_ft_imu_acc">l_foot_ft_imu_acc</elem>
                <elem name="r_foot_ft_imu_acc">r_foot_ft_imu_acc</elem>
                <!--<elem name="left-leg-inertials-client">left-leg-inertials-client</elem>
                <elem name="right-leg-inertials-client">right-leg-inertials-client</elem>-->
            </paramlist>
        </action>

        <action phase="shutdown" level="5" type="detach" />
</device>
